# Ignore VS Code temporary files
*.code-workspace
.vscode/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore temp files created by Code Runner
*.tempCodeRunnerFile*

tempCodeRunnerFile.py

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore environment files
.env
.venv/
venv/
